@media (min-width: 1200px) {
  body .container {
    max-width: 1160px;
  }
}

@media (max-width: 1750px) {
  .home-position {
    max-width: 460px;
  }

  .home-position img {
    max-width: 100%;
  }

  .city-bottom img {
    max-width: 900px;
  }

  .video-btns,
  .slider-videos .swiper-pagination {
    bottom: 200px;
  }
}

@media (max-width: 1550px) {
  .swiper-project-arrow.right {
    right: calc(50vw - 595px - 30px);
  }

  .swiper-project-arrow.left {
    left: calc(50vw - 595px - 30px);
  }
}

@media (max-width: 1350px) {

  .swiper-project-arrow.right,
  .swiper-project-arrow.left {
    display: none;
  }
}

@media (max-width: 1199px) {

  .video-btns,
  .slider-videos .swiper-pagination {
    left: calc(50vw - 480px);
    bottom: 225px;
  }
  .city-bottom img {
    max-width: 100%;
  }

  section.statistics .row .text-center:first-child {
    border: 0;
  }

  section.statistics .row .text-center:last-child {
    border-right: 0;
  }

  section.statistics .text-center {
    padding-top: 76px;
    padding-bottom: 60px;
  }
  .our_project_item img{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .our_project_item img{
    width: 100%;
    height: 100%;
  }
  form.contact_form{
    padding-left: 40px;
  }
  .contact_left{
    max-width: 440px;
    flex: 0 0 440px;
  }
  .provide{
    padding: 0 70px;
  }
  .news_main_item img{
    height: 320px;
  }
  .news_main_item p{
    margin-bottom: 15px;
  }
  .about_main_right{
    flex: 0 0 400px;
    height: 400px;
  }
  .about_main_left{
    padding-right: 40px;
  }
  section.about_section.fd_reverse .about_main_left{
    padding-left: 40px;
  }
}

@media (max-width: 991px) {
  .toggle-menu-mobile {
    display: block;
  }

  .toggle-menu-mobile {}

  .toggle-menu-mobile {
    display: inline-block;
    height: 100px;
    padding: 35px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .toggle-menu-mobile:hover {
    cursor: pointer;
  }

  .toggle-menu-mobile span {
    background: #fff;
    display: block;
    height: 3px;
    margin: 0 0 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 40px;
  }

  .toggle-menu-mobile.open span {
    margin: 0 0 5px;
  }

  .toggle-menu-mobile.open span:first-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10px;
    transform-origin: 10px;
  }

  .toggle-menu-mobile.open span:nth-child(2) {
    opacity: 0;
  }

  .toggle-menu-mobile.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 8px;
    transform-origin: 8px;
  }

  header .container {
    padding: 0 34px;
  }

  .header-right {
    display: none;
  }

  .header-menu {
    position: relative;
    z-index: 151;
  }

  .header_mobile {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    transition: all .3s;
    z-index: 150;
    transform: translateY(-100%);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    padding: 30px 34px;
  }

  .header_mobile ul {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
  }

  .header_mobile ul li a {
    font-size: 30px;
    line-height: 30px;
    padding: 30px 0 20px;
    color: #5B5B5B;
    border-bottom: 1px solid #5B5B5B;
    display: block;
    width: 100%;

  }

  .open_menu .header_mobile {
    transform: translateY(0%);
  }

  .open_menu .toggle-menu-mobile span {
    background-color: #5b5b5b;
  }

  .open_menu a.logo img {
    filter: none;
  }

  body.open_menu {
    height: 100vh;
    overflow: hidden;
  }

  .robita {
    position: absolute;
    left: 34px;
    bottom: 30px;
    right: 34px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
  }

  .social-icons {
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  .social-icons a {
    margin: 0;
    margin-right: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #5b5b5b;
  }

  .social-icons a i {
    font-size: 22px;
    width: auto;
  }

  a.contact-hdr {
    height: auto;
  }

  .robita_language a {
    display: inline-block;
    font-size: 24px;
    color: #ADADAD;
    padding: 0 30px;
    line-height: 40px;
    text-transform: uppercase;
  }

  .robita_language a.active {
    color: #000;
  }

  .robita_language a:nth-child(2) {
    border-left: 1px solid #ADADAD;
    border-right: 1px solid #ADADAD;
  }

  .robita_language a:last-child {
    padding-right: 0;
  }

  .container {
    max-width: 700px;
  }

  .video-btns,
  .slider-videos .swiper-pagination {
    display: none;
  }

  .navigation-main {
    display: none;
  }

  .title-tops h2 {
    font-size: 24px;
    line-height: 26px;
  }

  .title-tops p {
    font-size: 12px;
    padding-bottom: 25px;
  }

  .tabs {
    padding-top: 0;
  }

  .tabs span {
    font-size: 12px;
    padding: 12px 30px;
  }

  a.services-link img {
    max-width: 100%;
    height: 60px;
    margin-left: 0;
    padding-left: 4px;
  }

  a.services-link h4 {
    font-size: 10px;
  }

  a.services-link p {
    font-size: 8px;
  }

  section.statistics {
    padding: 0;
  }

  section.statistics .container {
    max-width: 100%;
    padding: 0;
  }

  section.statistics .row .text-center:nth-child(1),
  section.statistics .row .text-center:nth-child(2) {
    border-bottom: 1px solid #707070;
  }

  .vision-block {
    max-width: 505px;
    padding: 60px 55px;
  }

  .vision-block h3 {
    color: #343A3D;
  }

  .vision-block p {
    font-size: 14px;
    line-height: 21px;
  }

  .news-block {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }

  .news-slider {
    flex: 0 0 auto;
    max-width: 100%;
    padding: 65px 106px 65px 125px;
  }

  .swiper-news-img {
    width: 428px;
    max-width: 100%;
    height: 375px;
  }

  .swiper-news-in {
    min-height: 700px;
  }

  section.news .container {
    padding: 0;
    max-width: 100%;
  }

  section.news .seo-optimization.vision-block {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin-top: 85px;
    padding-left: 98px;
    padding-right: 80px;
  }

  .news-slider .swiper-pagination {
    text-align: right;
    padding-right: 15px;
  }

  .news-slider .our-pagination.swiper-pagination .swiper-pagination-bullet {
    margin: 0 15px;
  }

  .swiper_inner .swiper-slide {
    text-align: center;
  }

  .our-partners img {
    opacity: 1;
    min-height: inherit;
    max-width: auto;
    filter: inherit;
    /*width: 60%;*/
    /*object-fit: contain;
		width: 100%;
		height: 100%;*/
    max-height: 50px;
  }

  footer h3 {
    font-size: 11px;
    margin-bottom: 25px;
  }

  footer ul li a {
    font-size: 9px;
  }

  footer p {
    font-size: 9px;
    line-height: 15px;
  }

  footer ul li {
    margin-bottom: 5px;
  }

  footer hr {
    padding-top: 55px;
  }

  p.copyright {
    margin-top: 50px;
    font-size: 8px;
    padding: 17px 0;
  }
  footer .container {
    background: url(../images/map.png) no-repeat left 25px top 98px;
    background-size: 204px auto;
  }
  section.about_inner_pages{
    padding: 55px 0 10px;
  }
  .gallery_works_main>div{
    margin-bottom: 20px;
    margin-right: 20px;
    flex: 0 0 calc((100% - 40px)/3);
    max-width: calc((100% - 40px)/3);
  }
  .key_facts_item p{
    padding: 0;
  }
  section.our_project_page{
    padding: 50px 0;
  }
  section.our_project_page h5{
    margin-bottom: 50px;
  }
  .our_project_item{
    margin-bottom: 50px;
  }
  form.contact_form{
    padding-left: 30px;
  }
  .contact_left{
    max-width: 340px;
    flex: 0 0 340px;
  }
  .provide{
    padding: 0;
  }
  section.contact_our{
    padding: 60px 0 40px;
  }
  .contact_main{
    margin-bottom: 40px;
  }
  .about_main_right{
    flex: 0 0 250px;
    height: 250px;
  }
  .about_main_left{
    padding-right: 20px;
  }
  .about_main_left h5:after{
    bottom: -15px;
  }
  .about_main_left h2{
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 15px;
    padding-right: 70px;
  }
  .about_main_left p{
    font-size: 14px;
    line-height: 1.6;
  }
  section.about_section.fd_reverse .about_main_left{
    padding-left: 20px;
  }
  .about_main_left h5{
    margin-bottom: 30px;
  }
  .about_main_left h2 br{
    display: none;
  }
}
/*****************************************************************************************/
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .header_mobile {
    padding: 20px 30px;
  }

  .header_mobile ul li a {
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 24px;
    text-align: left;
    line-height: 1;
  }

  a.logo img {
    max-width: 60px;
  }

  .header-menu {
    padding: 20px 0;
  }

  .toggle-menu-mobile {
    padding: 0;
    height: auto;
  }

  .toggle-menu-mobile span {
    margin-bottom: 6px;
    width: 30px;
  }

  .toggle-menu-mobile.open span:nth-child(3),
  .toggle-menu-mobile.open span:first-child {
    transform-origin: 4px;
  }

  .social-icons a {
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }

  .social-icons a i {
    font-size: 12px;
  }

  .robita_language a {
    font-size: 16px;
    line-height: 20px;
    padding: 0 10px;
  }

  section.services {
    padding-top: 60px;
  }

  .title-tops h2 {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .title-tops p {
    font-size: 10px;
    padding-bottom: 15px;
  }

  .title-tops p:after {
    height: 1px;
  }

  .title-tops {
    margin-bottom: 40px;
  }

  a.services-link img {
    filter: inherit;
    height: 40px;
    /*margin-right: 0;*/
  }
  .robita{
    bottom: 20px;
  }

  .row.row-services.swiper-wrapper {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .row-services .col-services {
    flex: 0 0 40%;
    padding: 0;
  }

  .row-services {
    margin-left: 0;
    margin-right: 0;
  }

  .tabs {
    display: none;
  }

  .tab_content .tab_item {
    display: block;
    margin-left: 0px;
    margin-right: -30px;
  }

  .new_tab_title {
    font-size: 14px;
    color: #343A3D;
    border-bottom: 1px solid #5B5B5B;
    position: relative;
    padding: 12px 0;
    margin-bottom: 25px;
    margin-right: 30px;
    text-transform: uppercase;
  }

  .new_tab_title:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0px;
    background-color: #5B5B5B;
    transition: all .15s;
    display: block;
  }

  .new_tab_title.open_tab:after {
    width: 124px;
  }

  .new_tab_title:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 14px;
    right: 0;
    top: 16px;
    transition: all .25s;
    display: block;
    background: url(../images/svg/down_u.svg) no-repeat center;
    background-size: contain;
  }

  .new_tab_title.open_tab:before {
  	transform: rotate(180deg);
  }
	a.services-link p{
		opacity: 1 !important
	}

	section.services .tab_content{
		padding-top: 10px;
	}

  section.statistics .container .text-center {
    padding-top: 30px;
    border: 0 !important;
    padding-bottom: 30px;
  }

  section.statistics p {
    margin-bottom: 0;
    font-size: 16px;
  }

  section.statistics {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  section.statistics h4 {
    line-height: 1;
  }

  .vision-block h3 {
    margin-bottom: 15px;
  }

  section.statistics h4 span {
    font-size: 32px;
  }

  .vision-block {
    margin-left: 0px;
    padding: 50px 25px;
    text-align: center;
    margin-right: 0px;
  }

  section.our-projects .swiper-slide {
    padding: 30px 0 30px 30px;
  }

  section.our-projects .container {
    padding-left: 0;
    padding-right: 0;
  }

  section.our-projects .swiper-pagination {
    display: none;
  }

  section.our-projects a.view-link {
    display: block;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 60px;
    height: 60px;
  }

  .swiper-projects {
    margin-bottom: 15px;
  }

  section.our-projects {
    padding-bottom: 30px;
  }
  
  section.news {
    padding-top: 30px;
  }

  .news-slider {
    padding: 60px 30px;
  }

  .swiper-news-img {
    width: auto;
    margin-right: 50px;
    height: 200px;
  }

  .swiper-news-by {
    font-size: 8px;
  }

  .swiper-news-in h4 {
    font-size: 17px;
  }

  .swiper-news-in p {
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 0;
  }

  .swiper-news-in {
    min-height: 500px;
  }

  section.news .seo-optimization.vision-block {
    margin-left: 30px;
    margin-right: 30px;
    padding: 50px 15px;
  }

  section.news .seo-optimization.vision-block p {
    line-height: 20px;
    font-size: 12px;
  }

  footer .container {
    background-size: calc(100% - 60px) auto
  }

  .maps_footer {
    text-align: center;
  }

  .maps_footer h3 {
    font-size: 14px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
  }

  footer p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  footer .maps_footer h3:after {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 50%;
    top: auto;
    transform: translateX(-50%);
    background-color: #5B5B5B;
    height: 3px;
  }

  .footer_link h3 {
    margin: 0;
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid #D6D6D6;
  }

  .footer_link .col-sm-3:last-child h3 {
    border-bottom: 0;
  }

  footer .footer_link h3:after {
    position: absolute;
    right: 0;
    width: 14px;
    top: 50%;
    transform: translateY(-50%);
  }

  footer .footer_link h3:before {
    content: "";
    position: absolute;
    right: 0;
    width: 14px;
    display: inline-block;
    height: 2px;
    background: #5B5B5B;
    margin-left: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  footer .footer_link h3.actived:before {
    transform: translateY(-50%) rotate(0deg);
  }

  .footer_link ul {
    display: none;
    padding-top: 10px;
  }

  footer ul li a {
    font-size: 10px;
  }

  p.copyright {
    text-align: center;
  }
  .swiper-projects-img{
    height: 230px;
  }
  .swiper-projects-text{
    padding: 25px;
  }
  .swiper-projects-text h5{
    font-size: 14px;
    margin-bottom: 9px;
  }
  .swiper-projects-text p{
    font-size: 10px;
    margin-bottom: 0;
  }
  .news-slider .our-pagination.swiper-pagination .swiper-pagination-bullet{
    margin: 0 7px;
  }
  section.gallery_works{
    padding: 50px 0;
  }
  .gallery_works_main{
    justify-content: space-between;
  }
  .gallery_works_main>div{
    margin-bottom: 20px;
    margin-right: 0;
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
  .parallax-img img{
    object-fit: cover;
    height: 100%;
    transform: translateX(12px) scale(1.2);
  }
  section.our_project_page{
    padding: 30px 0;
  }
  section.our_project_page h5{
    margin-bottom: 30px;
  }
  .our_project_item{
    margin-bottom: 30px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .our_project_item_text{
    padding-left: 0;
  }
  .our_project_item.ended .our_project_item_text{
    padding-right: 0;
    text-align: left;
  }
  .our_project_item img{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .our_project_item_text h4{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .our_project_item.ended{
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .our_project_item a.view-link{
    margin-right: 0;
    margin-left: auto;
    height: 30px;
    font-size: 12px;
    min-width: 120px;
    float: right;
    line-height: 30px;
  }
  .our_project_item_text p{1wdewr
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  h2.get_title{
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 1.4;
  }
  h2.get_title:after{
    bottom: -10px;
  }
  .contact_left p{
    font-size: 12px;
    padding-left: 15px;
  }
  section.contact_our{
    padding: 30px 0 20px;
  }
  .item_contact_left svg{
    width: 15px;
  }
  .social_contact_left a{
    padding-left: 15px;
  }
  .social_contact_left i{
    width: 15px;
    height: 15px;
    font-size: 15px;
  }
  .contact_main{
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  div#map{
    margin-top: 0;
    height: 200px;
    margin-bottom: 20px;
  }
  form.contact_form{
    padding-left: 0;
  }
  form.contact_form .form-group label{
    font-size: 13px;
    line-height: 15px;
  }
  form.contact_form .form-group input{
    height: 40px;
    padding: 0 15px;
    font-size: 12px;
  }
  form.contact_form .form-group textarea{
    padding: 15px;
    font-size: 12px;
  }
  .provide p{
    font-size: 12px;
    line-height: 20px;
  }
  form.contact_form .view-link{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  section.news_page{
    padding: 30px 0;
  }
  .news_main_item img{
    height: 220px;
  }
  .little_title_news{
    font-size: 12px;
  }
  .news_main_item h4{
    font-size: 20px;
    margin-bottom: 15px;
  }
  .news_main_item p{
    font-size: 14px;
    line-height: 24px;
  }
  a.news_read_more{
    /*color: #000;*/
    font-size: 14px;
    text-decoration: underline !important;
    text-underline-position: under;
  }
  .guidance h1{
    font-size: 30px;
  }
  .partners_logo img{
    max-width: 65px;
  }
  .about_main{
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  section.about_section{
    padding: 40px 0;
  }
  .about_main_left h2{
    padding-right: 0;
    font-size: 24px;
  }
  .about_main_left p{
    font-size: 12px;
    margin-bottom: 30px;
  }
  .about_main_right{
    flex: 0 0 100%;
    margin-left: -30px;
    margin-right: -30px;
  }
  .fd_reverse .about_main{
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  section.key_facts.abo_key_facts{
    padding-top: 40px;
    padding-bottom: 0;
  }
  .about_main_left{
    padding-right: 0;
  }
  section.about_section.fd_reverse .about_main_left{
    padding-left: 0;
    padding-top: 40px;
  }
  section.about_section.fd_reverse{
    padding-bottom: 20px;
  }
}